* {
  margin-left: 20px;
  font-family: "Inter"
}

.header-style {
  display: flex;
  justify-content: space-between;
}

hr {
  width: 1200px;
  border: 1px solid #C0C4CC;
}

input {
  width: 180px;
  height: 36px;
  color: #898E9A;
  border: 1px solid #C0C4CC;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 105px;
  padding-left: 30px
}

.fas {
  color: #898E9A;
  position: absolute;
  margin: 10px 0 10px 28px
}

.modal-body {
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  overflow-y: hidden;
}
